@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  @media print {
    body {
      background: white !important;
      padding: 0 !important;
    }
    .no-print {
      display: none !important;
    }
  }
}
